---
import Section from "../Section.astro";
import Link from "../Link.astro";
---

<Section id="about-me" title="About me">
  <div class="bg-content flex flex-col gap-3">
    <p>
      Graduate Senior Software Engineer from the
      <Link
        class="font-medium text-cyan-100"
        href="https://unicartagena.edu.co/"
        target="_blank"
        rel="noopener noreferrer"
      >
        University of Cartagena
      </Link>, COL, I bring over 7 years of experience working with cutting-edge
      technologies for diverse clients, both local and foreign.
    </p>
    <p>
      I'm a solution-driven Full-Stack developer, deploying my knowledge in the
      different components of a top-notch and reliable software product. My
      porfolio includes projects with renowed industry leaders like
      <Link
        class="font-medium text-cyan-100"
        href="https://www.bancolombia.com/"
        target="_blank"
        rel="noopener noreferrer"
      >
        Bancolombia
      </Link>, where I contributed to the development of pivotal app features
      that consolidate clients.
    </p>
    <p>
      I pride myself on my effective team leadership, mentorship abilities, and
      drive to always dive deep into new technological paradigms.
    </p>
  </div>
</Section>
