---
import ArrowUpRight from "../icons/ArrowUpRight.astro";
import GitLabLink from "./repo-links/GitLabLink.astro";
import GitHubLink from "./repo-links/GitHubLink.astro";

interface Props {
  title: string;
  href: string;
  imageSrc: string;
  imageAlt: string;
  repoUrl?: string;
}

const { title, href, imageSrc, imageAlt, repoUrl } = Astro.props;
const repoType = repoUrl?.replace(/^https?:\/\//, "")?.split(".")[0];
---

<article class="relative grid grid-cols-8 gap-4 items-center">
  <div class="flex flex-col gap-2 col-span-8 sm:col-span-6 lg:col-span-8">
    <header>
      <a
        class={`
          flex items-center gap-2 w-full
           text-cyan-200 [&>svg]:text-cyan-200 [&>svg]:hover:animate-wiggle-more
          hover:text-transparent transition-all duration-300
        `}
        href={href}
        target="_blank"
        rel="noopener noreferrer"
      >
        <h4
          class="bg-gradient-to-r from-cyan-500 to-cyan-200 bg-clip-text w-fit text-lg font-medium"
        >
          {title}
        </h4>
        <ArrowUpRight />
      </a>
    </header>
    <div class="flex flex-col gap-2 text-sm bg-content">
      <slot name="text-content" />
    </div>
    <footer>
      <slot name="tags" />
      {repoUrl && repoType === "github" && <GitHubLink href={repoUrl} />}
      {repoUrl && repoType === "gitlab" && <GitLabLink href={repoUrl} />}
    </footer>
  </div>

  <picture class="col-span-5 sm:col-span-2 lg:col-span-5">
    <img
      class={`
        rounded aspect-[4/3] max-h-64 outline outline-2 outline-white/20
        hover:outline-white/50 hover:outline-4 transition-all ease-in
      `}
      src={imageSrc}
      alt={imageAlt}
    />
  </picture>
</article>
