---
import Section from "../Section.astro";
import Tag from "../Tag.astro";
import Project from "./Project.astro";
---

<Section id="projects" title="Projects">
  <ul class="flex flex-col gap-12">
    <li>
      <Project
        title="Noah BabyShower Invitation Card"
        href="https://noahbabyshower.ryctabo.com/?token=f0f5e95c-6da7-4d5b-94f3-60a266980b75"
        imageSrc="/images/298shots_so.png"
        imageAlt="Screenshots of invitation card for Noah's baby shower"
        repoUrl="https://gitlab.com/ryctabo/noah-babyshower-website"
      >
        <p slot="text-content">
          Invitation card for Noah's baby shower, a cute little baby who is
          coming to this world soon, or... has he already arrived? Well, it was
          developed using React.js & TailwindCSS, and it features a responsive
          design, so it can be viewed on mobiles, tablets, and desktop screens.
        </p>
        <ul slot="tags" class="flex flex-wrap gap-1 mb-3">
          <li><Tag>React.js</Tag></li>
          <li><Tag>TypeScript</Tag></li>
          <li><Tag>Firebase</Tag></li>
          <li><Tag>Netlify</Tag></li>
          <li><Tag>TailwindCSS</Tag></li>
        </ul>
      </Project>
    </li>
  </ul>
</Section>
