---
import AboutMeSection from "../components/about-me/AboutMeSection.astro";
import ExperienceSection from "../components/experience/ExperienceSection.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/header/Header.astro";
import NoticeSection from "../components/NoticeSection.astro";
import ProjectsSection from "../components/projects/ProjectsSection.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Gustavo Pacheco - Senior Software Engineer">
  <NoticeSection />
  <div class="grid grid-cols-2 max-w-5xl mx-auto">
    <header class="col-span-2 lg:col-span-1">
      <Header />
    </header>
    <main class="col-span-2 lg:col-span-1 py-12 grid gap-12">
      <AboutMeSection />
      <ExperienceSection />
      <ProjectsSection />
    </main>
    <footer class="col-span-2 lg:col-span-1 lg:col-start-2">
      <Footer />
    </footer>
  </div>
</Layout>
