---
import Layout from "../layouts/Layout.astro";
import CurrentLink from "../components/Link.astro";
import ArrowLeft from "../components/icons/ArrowLeft.astro";
import Justo from "../components/experience/items/Justo.astro";
import TravelX from "../components/experience/items/TravelX.astro";
import Almundo from "../components/experience/items/Almundo.astro";
import CondorLabs from "../components/experience/items/CondorLabs.astro";
import Iuvity from "../components/experience/items/Iuvity.astro";
---

<Layout title="Work Experience - Gustavo Pacheco (Ryctabo)">
  <main class="container mx-auto max-w-5xl py-12 px-6 md:px-12 lg:px-6">
    <header>
      <aside
        class={`
          flex items-center gap-2 mb-4 text-cyan-200 hover:text-cyan-300 
          [&>svg]:hover:-translate-x-2 [&>svg]:w-4 [&>svg]:h-4
          [&>svg]:transition-transform [&>svg]:duration-300 [&>svg]:ease-out
        `}
      >
        <ArrowLeft />
        <CurrentLink
          class="text-cyan-200 font-medium"
          href="/#work-experience-view"
        >
          Gustavo Pacheco
        </CurrentLink>
      </aside>
      <h1 class="text-5xl font-bold tracking-tight">All Work Experience</h1>
    </header>

    <ul class="grid gap-8 py-12">
      <li class="grid grid-cols-8 gap-8 items-center">
        <div class="col-span-8 md:col-span-6">
          <Justo />
        </div>
        <img
          class="hidden md:block md:col-span-2"
          src="/companies/justo.svg"
          alt="Jüsto logo"
        />
      </li>

      <li class="grid grid-cols-8 gap-8 items-center">
        <div class="col-span-8 md:col-span-6">
          <TravelX />
        </div>
        <img
          class="hidden md:block md:col-span-2"
          src="/companies/travelx-white.svg"
          alt="TravelX logo"
        />
      </li>

      <li class="grid grid-cols-8 gap-8 items-center">
        <div class="col-span-8 md:col-span-6">
          <Almundo />
        </div>
        <img
          class="hidden md:block md:col-span-2 w-full"
          src="/companies/almundo.svg"
          alt="Almundo, CVC Argentina"
        />
      </li>

      <li class="grid grid-cols-8 gap-8 items-center">
        <div class="col-span-8 md:col-span-6">
          <CondorLabs />
        </div>
        <img
          class="hidden md:block md:col-span-2"
          src="/companies/condor-labs.svg"
          alt="Condor Labs logo"
        />
      </li>

      <li class="grid grid-cols-8 gap-8 items-center">
        <div class="col-span-8 md:col-span-6">
          <Iuvity />
        </div>
        <img
          class="hidden md:block md:col-span-2"
          src="/companies/iuvity.svg"
          alt="Iuvity, TODO1 Services"
        />
      </li>
    </ul>
  </main>
</Layout>
