---
import Tag from "../../Tag.astro";
import Experience from "../Experience.astro";
import Job from "../Job.astro";
---

<Experience company="Almundo - CVC Argentina" link="https://almundo.com.ar/">
  <Job
    slot="jobs"
    title="Consulting Software Engineer"
    from="apr. 2022"
    to="dec. 2022"
  >
    <p>
      Directed a pivotal project focused on the internal management of
      promotions across Almundo's product range, enhancing platform efficiency
      and user engagement.
    </p>
    <p>
      Redesigned and managed the UI of promotional cards, ensuring a seamless
      user experience and boosting offer visibility.
    </p>
  </Job>
  <Job
    slot="jobs"
    title="Techincal Leader & Software Engineer"
    from="dec. 2021"
    to="apr. 2022"
  >
    Led the Alliances and Home team, overseeing the development and maintenance
    of key platform features, this included
  </Job>
  <Job
    slot="jobs"
    title="Software Development Engineer"
    from="aug. 2020"
    to="dec. 2021"
    isLatest
  >
    Played an instrumental role in product development, contributing to the
    creation of new features, client integrations, alliance partnerships, and
    comprehensive reporting systems.
  </Job>
  <ul slot="tags" class="flex flex-wrap gap-1">
    <li><Tag>Java</Tag></li>
    <li><Tag>Spring Boot</Tag></li>
    <li><Tag>TypeScript</Tag></li>
    <li><Tag>JavaScript</Tag></li>
    <li><Tag>Angular</Tag></li>
    <li><Tag>MongoDB</Tag></li>
    <li><Tag>Redis</Tag></li>
    <li><Tag>Maven</Tag></li>
    <li><Tag>Gradle</Tag></li>
    <li><Tag>MySQL</Tag></li>
    <li><Tag>Docker</Tag></li>
  </ul>
</Experience>
