---
import Tag from "../../Tag.astro";
import Experience from "../Experience.astro";
import Job from "../Job.astro";
---

<Experience company="Condor Labs" link="https://condorlabs.io/">
  <Job
    slot="jobs"
    title="BackEnd Software Engineer"
    from="may. 2019"
    to="aug. 2020"
    isLatest
  >
    Contributed to the development of CE Broker's platform through the creation
    of various REST APIs, streamlined reporting systems, and the centralization
    of email processes, enhancing operational efficiency and user experience.
  </Job>
  <ul slot="tags" class="flex flex-wrap gap-1">
    <li><Tag>Node.js</Tag></li>
    <li><Tag>Express.js</Tag></li>
    <li><Tag>Jest</Tag></li>
    <li><Tag>Happy.dev</Tag></li>
    <li><Tag>TypeScript</Tag></li>
    <li><Tag>JavaScript</Tag></li>
    <li><Tag>React.js</Tag></li>
    <li><Tag>NPM</Tag></li>
    <li><Tag>MongoDB</Tag></li>
    <li><Tag>MySQL</Tag></li>
    <li><Tag>Redis</Tag></li>
    <li><Tag>OracleDB</Tag></li>
    <li><Tag>DynamoDB</Tag></li>
    <li><Tag>AWS</Tag></li>
    <li><Tag>Stripe</Tag></li>
    <li><Tag>Docker</Tag></li>
  </ul>
</Experience>
