---
import Tag from "../../Tag.astro";
import Experience from "../Experience.astro";
import Job from "../Job.astro";
---

<Experience company="TODO1 Services Inc." link="https://www.iuvity.com/">
  <Job
    slot="jobs"
    title="Full Stack Developer"
    from="aug. 2018"
    to="may. 2019"
    isLatest
  >
    <p>
      Engaged as a full-stack developer for Bancolombia's "personas" platform.
    </p>
    <p>
      Actively contributed to company growth by developing and launching new
      products within the platform, notably "Pockets", improving user experience
      and interaction with their cash in the app.
    </p>
    <p>
      Responsible for introducing new features and updating graphic components
      to enhance user experience and platform usability.
    </p>
  </Job>

  <ul slot="tags" class="flex flex-wrap gap-1">
    <li><Tag>Java</Tag></li>
    <li><Tag>JSP</Tag></li>
    <li><Tag>Vue.js</Tag></li>
    <li><Tag>JUnit</Tag></li>
    <li><Tag>Mockito</Tag></li>
    <li><Tag>Maven</Tag></li>
    <li><Tag>MySQL</Tag></li>
    <li><Tag>HTML</Tag></li>
    <li><Tag>CSS</Tag></li>
  </ul>
</Experience>
