---
import Experience from "../Experience.astro";
import Job from "../Job.astro";
import Tag from "../../Tag.astro";
---

<Experience company="Jüsto" link="https://justo.mx/">
  <Job
    slot="jobs"
    title="Tech Lead & Senior Software Engineer"
    from="sep. 2023"
    to="present"
    isLatest
  >
    <p>
      Technical leader of the inbound team (warehouse management) in the
      operations tribe at Justo.
    </p>
    <p>
      Design and optimization of architecture migration primarily focused on
      transitioning from a monolithic service to microservices. Active
      participation in error resolution at the production level in the
      operational area of Jüsto.
    </p>
    <p>
      I joined the inbound team, where all types of operational inputs,
      warehouses, supplies, purchase and transfer orders, suppliers, and
      distribution centers are managed.
    </p>
  </Job>
  <ul slot="tags" class="flex flex-wrap gap-1">
    <li><Tag>Node.js</Tag></li>
    <li><Tag>Nest.js</Tag></li>
    <li><Tag>TypeScript</Tag></li>
    <li><Tag>JavaScript</Tag></li>
    <li><Tag>Yarn</Tag></li>
    <li><Tag>PostgreSQL</Tag></li>
    <li><Tag>AWS</Tag></li>
    <li><Tag>Docker</Tag></li>
    <li><Tag>Kubernetes</Tag></li>
  </ul>
</Experience>
