---
import Tag from "../../Tag.astro";
import Experience from "../Experience.astro";
import Job from "../Job.astro";
---

<Experience company="TravelX Inc." link="https://travelx.io/">
  <Job
    slot="jobs"
    title="Senior Software Engineer"
    from="apr. 2022"
    to="sep. 2023"
    isLatest
  >
    <p>
      Led the development and architecture of the flight product infrastructure,
      encompassing areas like availability, bookings, offers, and payments.
    </p>
    <p>
      Innovatively integrated traditional ticketing into the realm of NFTickets,
      collaborating with external providers such as Flybondi, VivaAir, and
      Equair.
    </p>
    <p>
      Ensured robust product performance by synchronizing flight ticket changes
      and proactively identifying and rectifying process failures.
    </p>
  </Job>
  <ul slot="tags" class="flex flex-wrap gap-1">
    <li><Tag>Kotlin</Tag></li>
    <li><Tag>Ktor</Tag></li>
    <li><Tag>Spring Boot</Tag></li>
    <li><Tag>Gradle</Tag></li>
    <li><Tag>MongoDB</Tag></li>
    <li><Tag>Redis</Tag></li>
    <li><Tag>AWS</Tag></li>
    <li><Tag>JUnit</Tag></li>
    <li><Tag>Mockk</Tag></li>
    <li><Tag>Docker</Tag></li>
  </ul>
</Experience>
