---
import HeaderLinks from "./HeaderLinks.astro";
import Menu from "../Menu.astro";
---

<div class="relative md:sticky md:inset-0 py-12 px-6 md:px-12">
  <section
    class="flex flex-col gap-4 bg-gradient-to-b from-cyan-400 to-cyan-200 bg-clip-text text-transparent"
  >
    <h1 class="text-4xl font-bold tracking-tighter md:text-5xl">
      <a href="/">Gustavo Pacheco</a>
    </h1>
    <h2 class="text-lg font-medium tracking-tight md:text-xl">
      Tech Lead & Sr Software Engineer at <span class="font-bold">Jüsto</span>
    </h2>
    <p class="max-w-[50ch]">
      Typing solid code with good practices, with knowledge in BackEnd &
      FrontEnd. I love DevOps culture.
    </p>
  </section>

  <section>
    <HeaderLinks />
  </section>

  <section class="hidden lg:block mt-16">
    <Menu />
  </section>
</div>
