---
import CloudDownload from "../icons/CloudDownload.astro";
import SocialLinks from "./social-links/SocialLinks.astro";
---

<div class="flex justify-start items-center gap-6">
  <SocialLinks />
  <a
    class={`
      flex items-center gap-2 mt-6 uppercase font-bold text-sm
      hover:text-cyan-300 transition-colors duration-300
    `}
    href="#"
  >
    <span>Download CSV</span>
    <span>
      <CloudDownload />
    </span>
  </a>
</div>
