---
import Link from "./Link.astro";
---

<div class="text-sm text-gray-400 px-6 md:px-12 lg:px-6 py-12 grid gap-2">
  <div class="bg-white/20 h-px mb-2"></div>
  <aside class="bg-content">
    Storyboard designed in
    <Link
      href="https://excalidraw.com/"
      target="_blank"
      rel="noopener noreferrer"
    >
      Excalidraw
    </Link> and coded in
    <Link
      href="https://code.visualstudio.com/"
      target="_blank"
      rel="noopener noreferrer"
    >
      Visual Studio Code
    </Link> by yours truly. Built with
    <Link href="https://astro.build/" target="_blank" rel="noopener noreferrer">
      Astro
    </Link> and
    <Link
      href="https://tailwindcss.com/"
      target="_blank"
      rel="noopener noreferrer"
    >
      Tailwind CSS
    </Link>, deployed with
    <Link
      href="https://www.netlify.com/"
      target="_blank"
      rel="noopener noreferrer"
    >
      Netlify
    </Link>. All text is set in the <Link
      href="https://rsms.me/inter/"
      target="_blank"
      rel="noopener noreferrer"
    >
      Inter typeface
    </Link>.
  </aside>

  <aside class="bg-content">
    Design inspired in <Link
      href="https://brittanychiang.com/"
      target="_blank"
      rel="noopener noreferrer"
    >
      Brittany Chiang
    </Link>
  </aside>
</div>
