---
interface Props {
  href: string;
  target?: string;
  rel?: string;
  class?: string;
}

const { href, target, rel, class: classNames } = Astro.props;
const classNamesToApply = classNames ?? "text-gray-300 font-medium";
---

<a class={classNamesToApply} href={href} target={target} rel={rel}><slot /></a>

<style>
  a {
    position: relative;
    transition: all 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    white-space: nowrap;
  }

  a::after {
    @apply bg-cyan-300;
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0%;
    height: 1px;
    transition: all 300ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  a:hover {
    @apply text-cyan-300;
  }

  a:hover::after {
    width: 100%;
  }
</style>
