---
type MenuItem = {
  id: string;
  name: string;
};

type Menu = MenuItem[];

const menu = [
  { id: "about-me", name: "About Me" },
  { id: "experience", name: "Work Experience" },
  { id: "projects", name: "Projects" },
];
---

<nav class="uppercase text-xs font-bold tracking-widest text-gray-500">
  <h4 class="mb-4 text-gray-200">Menu</h4>
  <ul class="flex flex-col gap-2">
    {
      menu.map((menuItem) => {
        return (
          <li>
            <a
              class="group flex items-center gap-4 py-2"
              href={`#${menuItem.id}`}
            >
              <span
                class={`
                  nav-indicator h-px w-8 bg-gray-500 
                  group-hover:bg-gray-200 group-hover:w-16
                  group-focus-visible:bg-gray-200 group-focus-visible:w-16
                  transition-all motion-reduce:transition-none
                `}
              />
              <span class="group-hover:text-gray-100">{menuItem.name}</span>
            </a>
          </li>
        );
      })
    }
  </ul>
</nav>
