<section class="bg-rose-600 text-white p-4">
  <p class="text-white text-center">
    <strong class="font-bold">IMPORTANT:</strong> Thank you for visiting my
    website.
    <i>Website Under Construction</i>: We're revamping our site to bring you
    something amazing. Apologies for any inconvenience. Stay tuned for the big
    reveal!
  </p>
</section>
