---
interface Props {
  id: string;
  title: string;
}
const { id, title } = Astro.props;
---

<section id={id}>
  <h3
    class={`
      sticky lg:relative inset-0 z-10 py-3 px-6 md:px-12 lg:px-6
      font-bold text-sm tracking-widest uppercase mb-4 text-cyan-500
    `}
  >
    {title}
  </h3>
  <div class="px-6 md:px-12 lg:px-6">
    <slot />
  </div>
</section>

<script>
  const stickyElements = document.querySelectorAll(".sticky");

  window.addEventListener("scroll", () => {
    for (const stickyElement of stickyElements) {
      const rect = stickyElement.getBoundingClientRect();
      if (rect.top <= 0 && rect.top > -44) {
        stickyElement.classList.add("backdrop-blur-xl");
      } else {
        stickyElement.classList.remove("backdrop-blur-xl");
      }
    }
  });
</script>
