---
import ArrowUpRight from "../icons/ArrowUpRight.astro";

interface Props {
  company: string;
  link: string;
}

const { company, link } = Astro.props;
---

<article>
  <header class="mb-2">
    <a
      class={`
        flex items-center gap-2 text-cyan-200 hover:text-transparent
        [&>svg]:text-cyan-200 [&>svg]:hover:animate-wiggle-more
        transition-all duration-500
      `}
      href={link}
      target="_blank"
      rel="noopener noreferrer"
    >
      <h4
        class="bg-gradient-to-r from-cyan-500 to-cyan-200 bg-clip-text w-fit font-medium text-lg"
      >
        {company}
      </h4>
      <ArrowUpRight />
    </a>
  </header>

  <ul>
    <slot name="jobs" />
  </ul>

  <footer class="mt-3">
    <slot name="tags" />
  </footer>
</article>
