---
import CurrentLink from "../Link.astro";
import Section from "../Section.astro";
import ArrowRight from "../icons/ArrowRight.astro";
import Justo from "./items/Justo.astro";
import TravelX from "./items/TravelX.astro";
import Almundo from "./items/Almundo.astro";
---

<Section id="experience" title="Work Experience">
  <div class="flex flex-col gap-8 mb-6">
    <!-- Only the last 3 work experience -->
    <Justo />
    <TravelX />
    <Almundo />
  </div>

  <aside
    id="work-experience-view"
    class={`
    flex gap-1 items-center w-min hover:text-cyan-300 
    [&>svg]:w-4 [&>svg]:h-4 [&>svg]:hover:translate-x-2 
    [&>svg]:transition-transform [&>svg]:duration-300 [&>svg]:ease-out
  `}
  >
    <CurrentLink href="work-experience">
      See all the work experience
    </CurrentLink>
    <ArrowRight />
  </aside>
</Section>
