---
interface Props {
  title: string;
  from: string;
  to: string;
  isLatest?: boolean;
}

const { title, from, to, isLatest = false } = Astro.props;
---

<li class="relative mb-4 pl-6">
  <div class={!isLatest ? "job" : ""}>
    <h5 class="job-title font-medium mb-2 relative text-white">
      {title}
    </h5>
    <span class="block text-sm tracking-wide font-medium mb-2 text-gray-500">
      {`${from} - ${to}`}
    </span>
    <div class="text-sm bg-content [&>p]:mb-2">
      <slot />
    </div>
  </div>
</li>

<style>
  .job::before {
    content: "";
    position: absolute;
    top: 24px;
    left: 3px;
    background-color: rgb(100, 100, 100);
    width: 2px;
    height: calc(100% - 8px);
  }

  .job-title::before {
    content: "";
    position: absolute;
    top: 8px;
    left: -24px;
    width: 8px;
    height: 8px;
    background-color: rgb(100, 100, 100);
    border-radius: 50%;
  }
</style>
