<svg
  xmlns="http://www.w3.org/2000/svg"
  class="icon icon-tabler icon-tabler-brand-linkedin"
  width="32"
  height="32"
  viewBox="0 0 24 24"
  stroke-width="2"
  stroke="currentColor"
  fill="none"
  stroke-linecap="round"
  stroke-linejoin="round"
>
  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
  <path
    d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"
  ></path>
  <path d="M8 11l0 5"></path>
  <path d="M8 8l0 .01"></path>
  <path d="M12 16l0 -5"></path>
  <path d="M16 16v-3a2 2 0 0 0 -4 0"></path>
</svg>
