---
import GitHub from "../../icons/GitHub.astro";
interface Props {
  href: string;
}

const { href } = Astro.props;
---

<a
  class={`
    flex items-center gap-1 text-xs font-medium bg-white/10 w-max py-1 px-4 rounded-md
    hover:bg-white/70 hover:text-black transition-colors duration-300
  `}
  href={href}
  target="_blank"
  rel="noopener noreferrer"
>
  <GitHub size={18} />
  <span>GitHub Repository</span>
</a>
