---
import GitLab from "../../icons/GitLab.astro";

interface Props {
  href: string;
}

const { href } = Astro.props;
---

<a
  class={`
    flex items-center gap-1 text-xs font-medium w-max py-1 px-4 rounded-md
    bg-orange-400/20 text-orange-200
    hover:bg-orange-400 hover:text-orange-950 
    transition-colors duration-300
  `}
  href={href}
  target="_blank"
  rel="noopener noreferrer"
>
  <GitLab size={18} />
  <span>GitLab Repository</span>
</a>
