@font-face {
    font-family: "__Inter_319";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/Inter-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "__Inter_319";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("/fonts/Inter-Medium.woff2") format("woff2");
}

@font-face {
    font-family: "__Inter_319";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("/fonts/Inter-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "Borel";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/Borel-Regular.woff2") format("woff2");
}

html,
body {
    min-height: 100vh;
}