---
import "../style.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <meta
      name="description"
      content="Gustavo Pacheco (Ryctabo) is software engineer who's type solid code with good practices and have knowledge in BackEnd, FrontEnd & DevOps"
    />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body
    class="bg-gray-900 text-gray-200 relative selection:text-cyan-900 selection:bg-cyan-400"
  >
    <slot />
  </body>
</html>
<style is:global>
  /* Global Styles */
  p {
    @apply text-gray-300;
  }

  :root {
    --bg-size: 100px;
    --bg-point-size: 40px;
    --bg-point-color: rgba(46, 60, 81, 0.1);
    --bg-image: radial-gradient(
      circle,
      var(--bg-point-color) var(--bg-point-size),
      transparent 0
    );
    color-scheme: dark;
  }

  body::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -20;
    background-image: var(--bg-image);
    background-size: var(--bg-size) var(--bg-size);
    background-position-x: 50%;
    animation: dotScroll 8s linear infinite;
  }

  .bg-content {
    position: relative;
  }

  .bg-content::after {
    @apply absolute inset-0 bg-gray-900 rounded-md shadow-gray-900 shadow-[0_0_1rem_1rem] -z-10;
    content: "";
  }

  @keyframes dotScroll {
    from {
      background-position-y: 0;
    }
    to {
      background-position-y: calc(-1 * var(--bg-size));
    }
  }
</style>
