---
interface Props {
  href: string;
  style: string;
}

const { href, style } = Astro.props;

const clasNames = `text-current ${style} hover:scale-[1.4] transition-all duration-200`;
---

<li class={clasNames}>
  <a href={href} target="_blank">
    <slot />
  </a>
</li>
