---
import GitHub from "../../icons/GitHub.astro";
import GitLab from "../../icons/GitLab.astro";
import LinkedIn from "../../icons/LinkedIn.astro";
import Spotify from "../../icons/Spotify.astro";
import SocialLink from "./SocialLink.astro";

const links = [
  {
    href: "https://linkedin.com/in/ryctabo/",
    style: "hover:text-sky-700",
    Component: LinkedIn,
  },
  {
    href: "https://github.com/ryctabo",
    style: "hover:text-black",
    Component: GitHub,
  },
  {
    href: "https://gitlab.com/ryctabo",
    style: "hover:text-orange-500",
    Component: GitLab,
  },
  {
    href: "https://open.spotify.com/user/ryctabo",
    style: "hover:text-green-600",
    Component: Spotify,
  },
];
---

<ul class="mt-6 flex gap-3" aria-label="social links with icons">
  {
    links.map(({ href, style, Component }) => {
      return (
        <SocialLink href={href} style={style}>
          <Component />
        </SocialLink>
      );
    })
  }
</ul>
